# This is a basic workflow to help you get started with Actions
# https://dev.to/github/setup-continuous-delivery-with-github-actions-4pea
# https://github.com/actions/starter-workflows/tree/main/code-scanning
# https://github.com/teambit/bit-with-github-actions

# sonarqube username & password admin/password

# SONAR_TOKEN = b7e8a8a09e55caedc75445c6a6b95fbd4f615520

name: Build
on:
  push:
    branches:
      - main # or the name of your main branch
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: sonarsource/sonarqube-scan-action@main
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      # If you wish to fail your job when the Quality Gate is red, uncomment the
      # following lines. This would typically be used to fail a deployment.
      - uses: sonarsource/sonarqube-quality-gate-action@main
        timeout-minutes: 5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
